<!DOCTYPE html>
<html>
<head>
  <title>Shopeng</title>
  <%= stylesheet_link_tag    "shopeng/application", media: "all" %>
  <%= javascript_include_tag "shopeng/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
