<!DOCTYPE html>
<html>
  <head>
    <title>Tim</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <p>This Works!</p>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>